.container_skills{
  background-color: #272525;
}
.skills_subtitle{
  padding-top:60px;
  display: flex;
  justify-content:space-around;
  background-color: #2980b9;
}
.skills{
  text-align: center;
}

.skills p{
  font-size:1.3rem;
  color:#FFF;
  text-align: center;
  padding-bottom:20px;
}
.skills i{
  font-size:clamp(2rem,6vw,3rem);
  text-align: center;
  padding-bottom:50px;
}
@media (max-width:780px){
  .portifolio_skills{
    display: block;
  }
}
